


@media screen and (max-width: 640px) {
  *{
    margin: 0;
    padding: 0;
    
}


body {
  width: 100%;
  
  font-family: Arial, Helvetica, sans-serif;
 
}


.navbar-sm{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;
  width: 100%;
}

.brand-sm{
  display: flex;
  justify-content: center;
  background:  #4aaaa5;
  padding: 15px;
  width: 100%;
}

.menu-sm{
  margin-top: 0;
  /* margin-bottom: 1rem; */
  list-style: none;
  display: flex;
  padding:20px;
  margin: 0 10px;
  

}

li{
  display: inline;
    margin: 0 10px;
    font-size: 20px;
    color:black
}

.menu-sm a{
  color: #000;

}

.about-sm {
  border-bottom: 1px solid #000;
  width: 80%;
  text-align: center;
  color: #4aaaa5;
}

.wrapper-sm {
  
  display: flex;
  
  justify-content: center;

}

.container-sm{
  width:80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 30px;
  margin-bottom: 100px;
  text-align: justify;
  border: 1px solid grey;
}


.img-sm{
  width:200px;
  height: 200px;
  margin-bottom: 40px;
}

.footer-sm{
  background: grey;
  border-top: 0.5em solid #4aaaa5;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 5%;
  
}

.p-footer{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 0.7em;
  color: #000;
  margin-top: 1em;
}  

}

/* Desktop version */


@media screen and (min-width: 640px) {

  
 html {
  
}    


  
.navbar-dsk{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  width: 100%;
}

.brand-dsk{
  display: flex;
  justify-content: center;
  background:  #4aaaa5;
  padding: 15px;
  width: 30%;
  margin-left: 50px;
}

.brand-dsk h1 {
  font-size: 30px;
}

.menu-dsk{
  margin-top: 0;
  /* margin-bottom: 1rem; */
  list-style: none;
  display: flex;
  padding:20px;
  margin: 0 10px;
  

}

li{
  display: inline;
    margin: 0 10px;
    font-size: 20px;
    color:black
}

.menu-dsk a{
  color: #000;

}
.menu-dsk a:hover{
  color:#4aaaa5;
  text-decoration: none;
}

.about-dsk {
  border-bottom: 1px solid #000;
  width: 100%;
  text-align: left;
  color: #4aaaa5;
}

.wrapper-dsk {
  height: 100%;

  background-image: url(../assets/images/Desktop.jpg) cover no-repeat;
}

.container-dsk{
  width:80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 30px;
  margin-bottom: 100px;
  margin-left: 50px;
  text-align: justify;
  border: 1px solid grey;
}


.img-dsk{
  width:200px;
  height: 200px;
  margin-bottom: 40px;
}

.footer-dsk{
  background: grey;
  border-top: 0.5em solid #4aaaa5;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 5%;
  
}

.p-footer-dsk{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 0.7em;
  color: #000;

  margin-bottom: 1em;
} 


}








/* /* .col-sm-10{
  background-color: rgba(211, 66, 66, 0.507);
} */


/* .navbar {
  padding-left: 20px;
  padding-bottom: 0;
}

.navbar-nav {
  margin: 0 auto;
}


.col-sm-10 {
  padding-top:20px;
  margin-bottom: 100px;
}

.col-sm-3 {
  border:0;
  padding:0;
}


.col-sm-6 {
  margin-bottom: 50px;
  float: left;
} */


/* want to manipulate the picture, border, fitting, DOESN't WORK !!! */
/* .portrait .border .border-dark { */
  /* justify-content: center; */
  /* border-color: red; */
/* } */

/* .row-sm-1 { */
  /* padding-left: 100px; */
  /* align-content: space-between; */
/* }  */




/* @media only screen and (max-width: 768px) {
  .portrait .border .border-dark  {
    justify-content: center;
    width:100%;
  }

  .image-container{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  
} */


/* @media screen and (min-width:700px){
  #mobile-nav{
    display: none;
  }

  #desktop-nav{
    display:unset;

  }
}

@media screen and (){
  #mobile-nav{
    display: unset;
  }

  #desktop-nav{
    display:none;
} */